@import "../variables";
@import "../mixins";

.btn {
  @include text($proxima, 16px, 400, $white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $green-light;
  cursor: pointer;

  &--big {
    padding: 13px 26px 10px;
    text-transform: uppercase;
    border-radius: 26px;
  }

  &--small {
    font-weight: 700;
    padding: 6px 20px;
    border-radius: 15px;
  }

  &:hover,
  &:focus {
    background-color: $grass-green;
  }

  &:active {
    background-color: $dark-green;
    opacity: 0.8;
    transform: scale(0.95);
  }
}
