@import "../variables";
@import "../mixins";

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 350px;
  padding-left: 28px;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts__text {
  @include text($proxima, 14px, 300, $gray-light);
  text-align: center;
}

.contacts__link {
  text-decoration: none;
  color: $gray-light;
}

