@import "../variables";
@import "../mixins";

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 65px;
}

.gallery__transition {
  display: flex;
  margin-bottom: 29px;
}

.gallery__toggle {
  @include text($proxima, 16px, 400, $grass-green);
  padding: 6px 20px;
  background-color: $white;
  border: 1px solid $grass-green;
  cursor: pointer;

  &:first-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  &:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  &--active {
    background-color: $grass-green;
    color: $white;
  }
}
