@import "../variables";
@import "../mixins";

.more {
  background-color: $gray-dark;

  & .section-header__title {
    font-size: 16px;
    color: $gray-light;
  }

  & .section-header__title::after {
    background-color: $gray-light;
  }
}

.more__wrapper {
  @include wrapper;
  display: flex;
  padding: 30px $side-padding 32px;
}



