//@import "../variables";
//@import "../mixins";

.page-header {
  background-image: url("../../img/background-full.jpg");
  background-repeat: no-repeat;
  background-position: center 70%;
  background-size: cover;
  background-color: $milk-chocolate;
}
.page-header__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px $side-padding 12px;
  //background-image: url("../../img/background-clip.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-color: $milk-chocolate;
}

.page-header__title {
  @include text($montserrat, 55px, 700, $white);
  width: 100%;
  margin-bottom: 25px;
  padding: $side-padding;
  text-align: center;
  text-shadow: 0 0 4px $milk-chocolate;
}

.page-header__nav {
  align-self: stretch;
  order: -1;
  margin-bottom: 230px;
}

.page-header__link {
  margin: 0 auto 215px;
}

.page-header__scroll {
  @include text($proxima, 16px, 300, $black-almost);
  margin: 0 auto;
  padding: 5px 32px 4px 11px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
}
