.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 110px;
}

.portfolio__transition {
  display: flex;
  margin-bottom: 43px;
}

.portfolio__toggle {
  @include text($proxima, 16px, 400, $grass-green);
  padding: 6px 20px;
  background-color: $white;
  border: 1px solid $grass-green;
  cursor: pointer;

  &:first-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }

  &:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  &--active {
    background-color: $grass-green;
    color: $white;
  }
}

.portfolio__list {
  @include list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__item {
  display: block;
  margin: $column-gap;
  font-size: 0;
}

.portfolio__image {
  border-radius: 3px;
}
