@import "../variables";
@import "../mixins";

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-header__title {
  @include text($montserrat, 20.5px, 400, $gray-middle);
  display: flex;
  flex-direction: column;
  align-items: center;
  //margin-bottom: 7px;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  &::after {
    content: "";
    display: block;
    width: 43px;
    height: 2px;
    margin: 7px 0 7px;
    background-color: $gray-middle;
  }
}

.section-header__subtitle {
  @include text($montserrat, 15px, 300, $gray);
  margin: 0;
  padding: 0;
}

.section-header__subtitle--start {
  font-family: $opensans;
  font-size: 16px;
}


