@import "../variables";
@import "../mixins";

.social {
  @include list;
  display: flex;
  padding: 4px 5px;
  background-color: $mint-green-light;
  border-radius: 14px;
}

.social__item {
  &:not(:last-child) {
    margin-right: 7px;
  }
}

.social__link {
  display: block;
  width: 20px;
  height: 20px;

  &--dribbble {
    background: url("../../img/icon-dribbble.svg") no-repeat center center;
  }

  &--twitter {
    background: url("../../img/icon-twitter.svg") no-repeat center center;
  }

  &--behance {
    background: url("../../img/icon-behance.svg") no-repeat center center;
  }

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
    opacity: 0.8;
  }
}
