.team {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  margin-bottom: 90px;
  list-style: none;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;

  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 77px;
    margin: 10px 0;
    background-color: $dark-green;
  }
}

.team__image {
  order: -1;
  display: block;
  border-radius: 50%;
}

.team__name {
  @include text($proxima, 16px, 400, $white);
  text-align: center;
  margin-bottom: 9px;
}

.team__link {
  z-index: 10;
  background-color: $green-light;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
