@import "../variables";
@import "../mixins";

.testimonials {
  padding: 41px $column-gap 61px;
  background-color: $white;
}

.testimonials__wrapper {
  @include wrapper;
  text-align: center;
}

.testimonials__header {
  margin-bottom: 68px;
}

.testimonials__slider {
  margin: 0 auto;
}
