@import "variables";

@mixin wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: $max-width;
  margin: 0 auto;
}

@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin text($family, $size, $weight, $color) {
  margin: 0;
  padding: 0;
  font-family: $family;
  font-size: $size;
  line-height: 1.2;
  font-weight: $weight;
  color: $color;
}

@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
