// My Web Colors

// GREENS
$dark-green: #207b20;
$grass-green: #2b9b2b;
$grass-green-light: #3eba3e;
$green-light: #54d154;
$mint-green: #c5e9c5;
$mint-green-light: #e1f3e1;

// GRAYS

$black: #000000;
$black-almost: #111111;

$gray-darkest: #222222;
$gray-dark: #333333;
$gray-middle-dark: #444444;
$gray-middle: #828181;
$gray: #b7b3b3;
$gray-light: #cccccc;


$white-almost: #f2f1f1;
$white: #ffffff;

$milk-chocolate: #c38851;


// My Constants
$max-width: 1170px;
$side-padding: 30px;
$column-gap: 15px;

// My Fonts
$proxima: "Proxima Nova", "Century Gothic", sans-serif;
$opensans: "OpenSans", "Trebuchet MS", sans-serif;
$montserrat: "Montserrat", "Tahoma", sans-serif;
